/*--Top Nav--*/

.navbar .navbar-nav .nav-link {
    color: #e3e9e5;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #e77ed6;
  color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    padding: 0.6em;
  }
  .navbar .navbar-brand {
    padding: 0 0.6em;
  }
  @media only screen and (min-width: 992px) {
    .navbar {
      padding: 0;
    }
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar .navbar-brand {
      padding: 0 0.8em;
    }
  }

  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
    transition: all 0.5s;
  }

 
  .word {
    opacity: 100%;
    color: red;
  }

  .background-image {
    opacity: 100%;
    background: no-repeat;
    background-position: center;
    position: center;
  }